<p>
    <% if(locals.user && locals.user.id==comments.user.id) { %>
        <small>
            <a href="/comments/destroy/<%=comments.id%>">X</a>
        </small>    
    
     <% } %>
    
    <%= comments.content %>
    <br>
    <small>
        <%= comments.user.name %>
    </small>
</p>