<!-- body for layout.ejs  -->

<!-- will be linked using set static layouts in layouts page  -->
<link rel="stylesheet" href="/css/user_profile.css">
<body>
  
    
    
    
    <h1>Codeial / <%=title%></h1>
   
    <p><%= user.name%></p>
    <p><%= user.email%></p>

   
</body>
